WHOISWHOAPT_ENVIRONMENT=development
WHOISWHOAPT_LOG_LEVEL=INFO
WHOISWHOAPT_DATABASE_URL=sqlite:////data/whoiswhoapt.db
WHOISWHOAPT_SETTINGS_FILE=/data/config.json
WHOISWHOAPT_CORS_ORIGINS=["http://localhost:5173"]

